<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/781831.png" class="img-circle" style="height:50px; width:50px;" />
                @Html.ActionLink("QuickTrack", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size:10px; background-color: mediumpurple; margin-left:20px;">
                    <li>@Html.ActionLink("Bills & Fees", "Index", "BillsFees")</li>
                    <li>@Html.ActionLink("Food & Drinks", "Index", "FoodDrinks")</li>
                    <li>@Html.ActionLink("Shopping", "Index", "Shoppings")</li>
                    <li>@Html.ActionLink("Education", "Index", "Educations")</li>
                    <li>@Html.ActionLink("Travel", "Index", "Travels")</li>
                    <li>@Html.ActionLink("Transport", "Index", "Transports")</li>
                </ul>
               @Html.Partial("_LoginPartial")
              
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
